:root{
  --grey: rgb(238, 218, 218);
}

*{
  box-sizing: border-box;
  background-color: var(--grey);
}
body{
  //width: 80%;
}
.card{
  width: 500px;
  border: 8px solid white;
  margin-left: auto;
  margin-right: auto;
}
.title{
  color: red;
  padding: 8px;
}
.content{
  padding: 12px;
  border: 8px solid white;
  margin: -8px;
}
.button-container{
  border: 8px solid white;
  margin: -8px;
  text-align: center;
}
button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  background-color: white;
}